[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-compressor = "*"
django-crispy-forms = "*"
crispy-bulma = "*"
bulma = "*"
django-bulma = "*"
wagtail = "*"

[dev-packages]

[requires]
python_version = "3.11"
